@font-face {
	font-family: myFirstFont;
	src: url(Griffy-Regular.ttf);
}

body {
	font-family: myFirstFont;
}

h2 {
	text-align: center;
	margin: 0px auto;
	font-size: 5em;
}
#game {
	margin: 0px auto;
	max-width: 660px;
}
.box {
	float: left;
	width: 200px;
	height: 200px;
	background-color: black;
	margin: 10px 10px;
}
.X{
	background-image: url('bones.png');
	background-size: cover;
}
.O {
	background-image: url('skull.png');
	background-size: cover;
}

